@using ControledeContatos.Models
@model List<ContatoModel>


@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="criar">Adicionar</a>
    </div>
    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button tyoe="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button tyoe="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            This is a danger alert—check it out!
        </div>
            @TempData["MensagemErro"]
    }

    <br />

    <h1 class="display-4">Listagem de Contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                int n = 1;
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@n</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="deletar">Apagar</a>
                            </div>
                        </td>
                    </tr>
                    n++;
                }
            }
        </tbody>
    </table>
</div>
